- name: Configure routers
  hosts: routers
  gather_facts: no

  tasks:
    - name: Configure R1 interfaces
      ios_config:
        lines:
          - ip address 10.0.12.1 255.255.255.252
          - no shutdown
          - cdp enable
        parents: interface g1
      when: inventory_hostname == "R1"

    - name: Configure R1 second interface
      ios_config:
        lines:
          - ip address 10.0.13.1 255.255.255.252
          - no shutdown
          - cdp enable
        parents: interface g2
      when: inventory_hostname == "R1"

    - name: Configure R1 OSPF
      ios_config:
        lines:
          - network 10.0.12.0 0.0.0.3 area 0
          - network 10.0.13.0 0.0.0.3 area 0
        parents: router ospf 1
      when: inventory_hostname == "R1"

    - name: Configure R2 interfaces
      ios_config:
        lines:
          - ip address 10.0.12.2 255.255.255.252
          - no shutdown
          - cdp enable
        parents: interface g1
      when: inventory_hostname == "R2"

    - name: Configure R2 second interface
      ios_config:
        lines:
          - ip address 10.0.23.1 255.255.255.252
          - no shutdown
          - cdp enable
        parents: interface g3
      when: inventory_hostname == "R2"

    - name: Configure R2 OSPF
      ios_config:
        lines:
          - network 10.0.12.0 0.0.0.3 area 0
          - network 10.0.23.0 0.0.0.3 area 0
        parents: router ospf 1
      when: inventory_hostname == "R2"

    - name: Configure R3 interfaces
      ios_config:
        lines:
          - ip address 10.0.23.2 255.255.255.252
          - no shutdown
          - cdp enable
        parents: interface g3
      when: inventory_hostname == "R3"

    - name: Configure R3 second interface
      ios_config:
        lines:
          - ip address 10.0.13.2 255.255.255.252
          - no shutdown
          - cdp enable
        parents: interface g2
      when: inventory_hostname == "R3"

    - name: Configure R3 OSPF
      ios_config:
        lines:
          - network 10.0.13.0 0.0.0.3 area 0
          - network 10.0.23.0 0.0.0.3 area 0
        parents: router ospf 1
      when: inventory_hostname == "R3"
